*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    position: sticky;
    top: 0;
    background-color: white;
}

.navbar-collapse{
    flex-grow: 0;
}

section{
    text-align: center;
}

.self-intro{
    padding: 1rem 0rem 3rem 0rem;
}

.img-container img{
    height: auto;
}

.content-container{
    color: white;
    background-color:rgba(0, 0, 255,0.8);
}


.box{
    position: relative;
    bottom: 20px;
}


.exp{
    padding: 1rem 0rem 1rem 0rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
}

ul{
    padding: 0;
    display: inline-block;
}


a{
    font-weight: bold !important;
}

.exp2{
    width: 2px;
    padding: 0;
    background-color: #222222;
}

.linkgit{
    display: inline-block;
    text-decoration: none;
}

.pro{
    font-size: 3rem;
    color: white;
}

footer{
    height: 5rem;
    padding: 1rem;
    background-color:rgba(0, 0, 255,0.8);
}

@media (min-width: 1200px){
    html{
        font-size: 24px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    html{
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    html{
        font-size: 18px;
    }
}


@media (min-width: 300px) and (max-width: 992px){
    .exp2{
        height: 2px;
        width: 90%;
        margin: 1rem 0;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    html{
        font-size: 16px;
    }
}

@media (max-width: 576px){
    html{
        font-size: 14px;
    }
}